<div class="container main-container">
    <a *ngIf="isAdm" class="btn btn-primary" [routerLink]="['create']" >
        <span class="fa fa-shopping-cart"> </span>
        Criar nova compra
    </a><br><br>
    <div class="row text-center">
        <div *ngFor="let purchase of purchases" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <br>
                <h4 class="card-title">Id fornecedor: {{ purchase.supplierId }}</h4>
                <hr>

                <div class="card-body">
                    <div *ngFor="let item of purchase.purchaseItems">
                        <div><h6>Id produto: {{ item.productId }}</h6></div>
                        <h6><small>Quantidade: {{ item.quantity }}</small></h6>
                        <p><small>Valor: {{ item.value }}</small></p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>