<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Home</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/products']">Produtos</a>
                </li>
                <li *ngIf="isAdm" class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/purchases']">Compras</a>
                </li>
                <li *ngIf="isAdm" class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/stocks']">Estoques</a>
                </li>
                <li *ngIf="isAdm" class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/suppliers']">Fornecedores</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!authenticated">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/register']">Register</a>
                </li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="authenticated">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" (click)="logout()" [routerLink]="['/login']">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>